/* Loading */
.loading {
  width: 100px;
  margin: 20px auto;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating .85s linear infinite;
  transform-origin: center center;
}
